*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: end;
  gap: 30px;
  padding: 133px 30px;
}

.search-form {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 298px;
  overflow-y: scroll;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding-bottom: 26px;
}