*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin: auto;
  padding: 133px 0;
  /* height: 534px; */
}

.search-form {
  display: flex;
  justify-content: start;
  gap: 40px;
  position: relative;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 298px;
  overflow-y: scroll;
}



.content__list-item {
  width: 100%;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__details {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  padding-bottom: 26px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  width: 711px;
  padding-bottom: 16px;
  padding-top: 78px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} 

.content__video-card {
  display: flex;
  flex-grow: 1;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.search-form__fieldset-title {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 90%;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-block;
  width: fit-content;

}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  appearance: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

.search-form__label-text::placeholder {
  background-color: transparent;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

.button {
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 6px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.more-button {
  width: 399px;
  height: 34px;
}
